@import "less/bootstrap/bootstrap";
@import "less/font-awesome/font-awesome";

// Global variables
@img-root: "../img";
@primary: #9B1417;
@secondary: #787878;
@white: #fafafa;

a:hover {
	text-decoration: none;
	color: @primary;
	i {
		color:@white;
	}
}

nav {
	width: 100%;
	height: 55px;
	overflow: hidden;
	z-index:9999;
	border-bottom: 2px solid @primary;
	background: @white;
	#flag {
		position: absolute;
		left: 0;
		margin-left: 5px;
	}

	#share {
		color: #000;
		float: right;
		a {
			float: left;
			width: 55px;
			height: 55px;
			padding: 15px 0 0 0;
			border-left: 1px dotted #000;
			text-align: center;
			cursor: pointer;
			color: #000;
			text-decoration: none;
			i { font-size: 22px;}
			&:hover { 
				background-color:@primary;
				opacity:0.9;
			}
		}
	}
}

// Header
header {
	background-color: #d9d9d9;
	padding: 40px 30px 30px 30px;
	margin: 0;
	border-bottom: 2px solid #fff;

	h1 { font-size: 48px; font-family: Arial, Helvetica, sans-serif; color: @primary; margin-bottom: 11px; }
	h2 { font-size: 15px; color: #666; margin: 0; }
}

// Byline
#story-meta {
	margin-bottom: 30px;
	color: @secondary;
	font-size: 12px;
	p { margin: 0 0 0;}
}

#copy p{
	font-size: 16px;
}

// Map
#map {
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
	#geolocate {
		position: absolute;
		z-index: 8000;
		font-size: 30px;
		padding: 10px 12px;
		bottom: 10px;
		left: 10px;
		line-height: 20px;
		color: #fff;
		background: @primary;
		cursor: pointer;
	}
}

// Map Controls
.map-legends, .map-legend {
	width: 104px;
	text-align: center;
	margin-right: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
}

// Disqus
#disqus-thread { padding-top: 20px; }

// Media queries
@media (max-width: 767px) {
	section.the-goods { margin: 10px; }
}
@media (max-width: 480px) {
	h1 { font-size: 26px; }
	#flag { 
		max-width: 45%;
		top:11px;
	}
	#story-meta p { font-size: 11px; }
	header {
		padding-top: 50px;
		h1 { font-size: 36px; }
	}
	#map {
		height: 350px;
	}
}