{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>{{ COPY.content.header_title }}</h1>
                <h2>{{ COPY.content.lorem_ipsum }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div id="story-meta">
    <p class="byline">by <span>{{ COPY.attribution.byline }}</span></p>
    <p class="dateblock">
        <span class="date">{{ COPY.attribution.pubdate }}</span>
        <span class="time"> {{ COPY.attribution.pubtime }}</span>
    </p>
</div>

<h2>Example COPY list</h2>
<dl>
    {% for row in COPY.example_list %}
    <dt>{{ row.term }}</dt><dd>{{ row.definition }}</dd>
    {% endfor %}
</dl>

<div id="map"></div>

{% endblock %}
