{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="header-copy">
                    <h1>{{ COPY.content.header_title }}</h1>
                    <h2>{{ COPY.content.subhead }}</h2>
                </div>
                <img src="{{ S3_BASE_URL }}/img/b+w_ship_rat.gif">
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div id="story-meta">
    <p class="byline">by <span>{{ COPY.attribution.byline }}</span></p>
    <p class="dateblock">
        <span class="date">{{ COPY.attribution.pubdate }}</span>
        <span class="time"> {{ COPY.attribution.pubtime }}</span>
    </p>
</div>

<div id="copy">
    {% for row in COPY.example_list %}
    <p>{{ row.term }} {{ row.definition }}</p>
    {% endfor %}
</div>

<div id="map">
    <div id="geolocate"><i class="icon-location-arrow"></i></div>
</div>

    {% include '_comments.html' %}

<a href="#top" id="scroll" class="btn btn-block btn-primary visible-sm"><i class="icon-arrow-up"></i> Scroll Up</a>

{% endblock %}
